@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
    vertical-align: baseline;
    list-style: none;
    box-sizing: border-box;
}

/* TODO: Criar regra da div user-image com background image e background-clip para criar o ícone */ 

/* PAGE HEADER */

html {
    font-family: "Roboto", sans-serif;
}

body {
    width: 100%;
    background-color: #F9F9F9;
}

.page-header {
    padding: 24px;
    display: flex;
    justify-content: space-between;
    background-color: white;
}

#left-items {
    width: 146px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-hambuerguer-button {
    background-color: white;
}

#center-items {
    display: flex;
}

#search-bar {
    width: 348px;
    height: 40px;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    border-left: 1px solid #CCC;
}

#search-button {
    width: 57px;
    height: 40px;
    border: 1px solid #CCC;
}

#right-items {
    width: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#user-image {
    width: 34px;
    height: 34px;
    background-image: url("../images/header/Perfil.jpg");
    background-size: cover;
    border-radius: 50%;
}

/* MAIN */

main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

/* VIDEO PART */

#video-part {
    display: flex;
    flex-direction: column;
    height: 800px;
    justify-content: space-between;
    margin: 0 0 0 15px;
}

#video-title {
    font-size: 20px;
}

#video-actions {
    display: flex;
    width: 902px;
    justify-content: space-between;
    align-items: center;
}

#channel {
    display: flex;
    align-items: center;
}

#channel-profile-image {
    margin: 0 12px 0 0;
    width: 42px;
    height: 42px;
    background-image: url(../images/main/Channel\ Avatar.png);
}

#channel-information p:first-child {
    font-weight: bold;
}

#subscribe-button {
    height: 40px;
    padding: 0 35px;
    background-color: #CC0000;
    color: white;
    font-weight: bold;
    border-radius: 2px;
}

#like, #deslike, #share, #download {
    display: flex;
    align-items: center;
}

#like img, #deslike img, #share img, #download img {
    display: inline-block;
    margin: 0 10px;
}

#video-metadata {
    display: flex;
    font-weight: bold;
}

#video-metadata p {
    margin: 0 10px 0 0;
}

#video-description {
    width: 510px;
}

/* RECOMMENDATIONS PART */

#recomendations {
    width: 365px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 0 0 15px;
}

.recomendations-layout {
    display: flex;
    justify-content: space-between;
}

.recomendations-layout img {
    width: 160px;
    height: 90px;
}

.recomendations-info {
    width: 196px;
    font-size: 12px;
}

.recomendations-info h3 {
    font-size: 14px;
    margin: 0 0 6px 0;
}

.recomendation-metadata {
    margin: 6px 0;
}